<ion-view view-title="Home" >
<ion-content class="splash padding">
<!--
    <div class="branding">
    <img src="img/rouxacademylogo.svg" alt="Roux Academy logo ">
        <div class="tagline ShadowText"> <br>S.M. Hodlur</div>
        <p class="tagline ShadowText"> 9448408097 </p>
    </div>
-->
    
    <div class="avatarPhoto">
          <img   src="Data/Staff/Subhas.jpg"  alt="Description" />
          </div>
          
        <div class="ShadowText tagline"> S.M. Hodlur</div>
        <div class="ShadowText tagline"> Founder and Seniour Editor 
            
         </div>
    
    </ion-content>
</ion-view>