       
<ion-view view-title="Report NEWS">
    
    <ion-content class="splash padding">
    
        <form name="myForm" >
    
        <div class="padding">
            <button type="button" class="button button-block button-positive" 
                    ng-click="mailMe()">Report through Email</button>
        </div>
          
          <div class="padding">
            <button type="button" class="button button-block button-positive"
                    ng-click="callMe()">Call Us</button>
        </div>
    </form>        
         
        
    </ion-content>
</ion-view>
 





