<!--<ion-tabs class="tabs-icon-top tabs-positive">-->
    
<!--    slidder menu -->
    
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
      
      
<!--
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
        
        <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
-->
    
      
      <ion-nav-bar class="bar-positive">
      
    </ion-nav-bar>
    
       <ion-tabs class="tabs-icon-top tabs-positive">
    
<!--    Tabs Setting-->
    <ion-tab title="Home" icon="ion-ios-home"
         href="#/tab/Home">
         <ion-nav-view name="Home-tab"></ion-nav-view>
</ion-tab>
    
<ion-tab title="Members" icon="ion-ios-people"
         href="#/tab/list">
         <ion-nav-view name="list-tab"></ion-nav-view>
</ion-tab>
    
    <ion-tab title="Calendar" icon="ion-ios-calendar"
         href="#/tab/Calendar">
         <ion-nav-view name="calendar-tab"></ion-nav-view>
</ion-tab>
        
    <ion-tab title="Report" icon="ion-ios-upload"
         href="#/tab/Minimal">
         <ion-nav-view name="Minimal-tab"></ion-nav-view>
</ion-tab>
           
           </ion-tabs>
    </ion-side-menu-content>


<!--
    //Side Menu (left) 
  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Sudina</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/Template/Minimal">
          Report News
        </ion-item>
        <ion-item menu-close href="#/AboutUs">
          About Us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
-->
     
    
    

    
